Repository blitzy-public-samples/mint-mobile-app-ncuwqw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @ios-team, @web-team, @react-native-team, @devops-team, @database-team, @technical-writers, @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/ios/MintReplicaLiteUITests/BudgetsUITests.swift
  src/ios/MintReplicaLiteUITests/BudgetsUITests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-ncuwqw/src/ios/MintReplicaLiteUITests/DashboardUITests.swift
  src/ios/MintReplicaLiteUITests/DashboardUITests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-ncuwqw/src/ios/MintReplicaLiteUITests/GoalsUITests.swift
  src/ios/MintReplicaLiteUITests/GoalsUITests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-ncuwqw/src/ios/MintReplicaLiteUITests/InvestmentsUITests.swift
  src/ios/MintReplicaLiteUITests/InvestmentsUITests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-ncuwqw/src/ios/MintReplicaLiteUITests/TransactionsUITests.swift
  src/ios/MintReplicaLiteUITests/TransactionsUITests.swift
Owners: @ios-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/.gitignore
  src/web/.gitignore
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/.prettierrc
  src/web/.prettierrc
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/README.md
  src/web/README.md
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/app.json
  src/web/app.json
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/babel.config.js
  src/web/babel.config.js
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/index.android.js
  src/web/index.android.js
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/index.web.js
  src/web/index.web.js
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/jest.config.js
  src/web/jest.config.js
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/metro.config.js
  src/web/metro.config.js
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/package.json
  src/web/package.json
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/android/gradle.properties
  src/web/android/gradle.properties
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/android/app/build.gradle
  src/web/android/app/build.gradle
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/android/app/src/main/AndroidManifest.xml
  src/web/android/app/src/main/AndroidManifest.xml
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/android/app/src/main/res/values/strings.xml
  src/web/android/app/src/main/res/values/strings.xml
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/components/auth/AuthForm.test.tsx
  src/web/src/__tests__/components/auth/AuthForm.test.tsx
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/components/common/Button.test.tsx
  src/web/src/__tests__/components/common/Button.test.tsx
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/components/common/Input.test.tsx
  src/web/src/__tests__/components/common/Input.test.tsx
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/hooks/useAuth.test.ts
  src/web/src/__tests__/hooks/useAuth.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/screens/auth/LoginScreen.test.tsx
  src/web/src/__tests__/screens/auth/LoginScreen.test.tsx
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/screens/dashboard/DashboardScreen.test.tsx
  src/web/src/__tests__/screens/dashboard/DashboardScreen.test.tsx
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/services/api/auth.test.ts
  src/web/src/__tests__/services/api/auth.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/store/slices/authSlice.test.ts
  src/web/src/__tests__/store/slices/authSlice.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/__tests__/utils/validation.test.ts
  src/web/src/__tests__/utils/validation.test.ts
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/assets/fonts/index.ts
  src/web/src/assets/fonts/index.ts
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/assets/images/index.ts
  src/web/src/assets/images/index.ts
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/components/accounts/AccountCard.tsx
  src/web/src/components/accounts/AccountCard.tsx
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/components/accounts/AccountForm.tsx
  src/web/src/components/accounts/AccountForm.tsx
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/components/auth/AuthForm.tsx
  src/web/src/components/auth/AuthForm.tsx
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/components/auth/BiometricPrompt.tsx
  src/web/src/components/auth/BiometricPrompt.tsx
Owners: @web-team, @react-native-team

Add public-samples/mint-mobile-app-ncuwqw/src/web/src/components/budgets/BudgetCard.tsx
  src/web/src/components/budgets/BudgetCard.tsx
Owners: @web-team, @react-native-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all team groups (@repo-admins, @backend-team, etc.) are properly configured in GitHub organization settings
# 2. Verify that all team members have appropriate access levels in the repository
# 3. Review and adjust code ownership rules based on team structure and expertise
# 4. Set up branch protection rules to enforce code review requirements
# 5. Configure GitHub notifications for team mentions

# Requirement: Security Infrastructure
# Enforces secure development practices through mandatory code reviews by designated owners
# Default ownership - repository administrators have oversight of all files
* @repo-admins

# Requirement: Role-Based Access Control
# Implements role-based access control for code review and approval processes

# Backend services including API, authentication, and data services
/src/backend/** @backend-team @security-team

# Native iOS application using Swift/UIKit
/src/ios/** @ios-team

# React Native web and Android application
/src/web/** @web-team @react-native-team

# Infrastructure configuration including Kubernetes, AWS, and deployment scripts
/infrastructure/** @devops-team @security-team

# Requirement: Code Review Process
# Ensures all code changes are reviewed by appropriate team members based on their expertise

# Security-related code requires security team review
**/security.py @security-team
**/auth.py @security-team
**/encryption.py @security-team
**/keys.py @security-team
**/certificates/** @security-team

# CI/CD pipeline configuration
/.github/workflows/* @devops-team

# Database changes require both backend and database team review
**/migrations/** @backend-team @database-team
**/schemas/** @backend-team @database-team

# API documentation requires backend team and technical writer review
/docs/api/** @backend-team @technical-writers
**/swagger/** @backend-team @technical-writers
**/openapi/** @backend-team @technical-writers

# Test files require QA team review
**/tests/** @qa-team
**/__tests__/** @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team
