Repository blitzy-public-samples/mint-mobile-app-ncuwqw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @ios-team, @web-team, @react-native-team, @devops-team, @database-team, @technical-writers, @qa-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all team groups (@repo-admins, @backend-team, etc.) are properly configured in GitHub organization settings
# 2. Verify that all team members have appropriate access levels in the repository
# 3. Review and adjust code ownership rules based on team structure and expertise
# 4. Set up branch protection rules to enforce code review requirements
# 5. Configure GitHub notifications for team mentions

# Requirement: Security Infrastructure
# Enforces secure development practices through mandatory code reviews by designated owners
# Default ownership - repository administrators have oversight of all files
* @repo-admins

# Requirement: Role-Based Access Control
# Implements role-based access control for code review and approval processes

# Backend services including API, authentication, and data services
/src/backend/** @backend-team @security-team

# Native iOS application using Swift/UIKit
/src/ios/** @ios-team

# React Native web and Android application
/src/web/** @web-team @react-native-team

# Infrastructure configuration including Kubernetes, AWS, and deployment scripts
/infrastructure/** @devops-team @security-team

# Requirement: Code Review Process
# Ensures all code changes are reviewed by appropriate team members based on their expertise

# Security-related code requires security team review
**/security.py @security-team
**/auth.py @security-team
**/encryption.py @security-team
**/keys.py @security-team
**/certificates/** @security-team

# CI/CD pipeline configuration
/.github/workflows/* @devops-team

# Database changes require both backend and database team review
**/migrations/** @backend-team @database-team
**/schemas/** @backend-team @database-team

# API documentation requires backend team and technical writer review
/docs/api/** @backend-team @technical-writers
**/swagger/** @backend-team @technical-writers
**/openapi/** @backend-team @technical-writers

# Test files require QA team review
**/tests/** @qa-team
**/__tests__/** @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/events.py
  src/backend/app/core/events.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/logging.py
  src/backend/app/core/logging.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/security.py
  src/backend/app/core/security.py
Owners: @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/websockets.py
  src/backend/app/core/websockets.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/db/__init__.py
  src/backend/app/db/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/db/base.py
  src/backend/app/db/base.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/db/session.py
  src/backend/app/db/session.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/db/migrations/__init__.py
  src/backend/app/db/migrations/__init__.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/db/migrations/env.py
  src/backend/app/db/migrations/env.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/db/migrations/script.py.mako
  src/backend/app/db/migrations/script.py.mako
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/__init__.py
  src/backend/app/models/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/account.py
  src/backend/app/models/account.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/budget.py
  src/backend/app/models/budget.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/category.py
  src/backend/app/models/category.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/goal.py
  src/backend/app/models/goal.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/investment.py
  src/backend/app/models/investment.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/transaction.py
  src/backend/app/models/transaction.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/models/user.py
  src/backend/app/models/user.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/__init__.py
  src/backend/app/schemas/__init__.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/account.py
  src/backend/app/schemas/account.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/auth.py
  src/backend/app/schemas/auth.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/budget.py
  src/backend/app/schemas/budget.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/category.py
  src/backend/app/schemas/category.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/goal.py
  src/backend/app/schemas/goal.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/investment.py
  src/backend/app/schemas/investment.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/transaction.py
  src/backend/app/schemas/transaction.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/schemas/user.py
  src/backend/app/schemas/user.py
Owners: @backend-team, @database-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/__init__.py
  src/backend/app/services/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/account_service.py
  src/backend/app/services/account_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/auth_service.py
  src/backend/app/services/auth_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/budget_service.py
  src/backend/app/services/budget_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/goal_service.py
  src/backend/app/services/goal_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/investment_service.py
  src/backend/app/services/investment_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/notification_service.py
  src/backend/app/services/notification_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/plaid_service.py
  src/backend/app/services/plaid_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/s3_service.py
  src/backend/app/services/s3_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/sync_service.py
  src/backend/app/services/sync_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/transaction_service.py
  src/backend/app/services/transaction_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/services/user_service.py
  src/backend/app/services/user_service.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/__init__.py
  src/backend/app/utils/__init__.py
Owners: @backend-team, @security-team
