Repository blitzy-public-samples/mint-mobile-app-ncuwqw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @ios-team, @web-team, @react-native-team, @devops-team, @database-team, @technical-writers, @qa-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/.flaskenv
  src/backend/.flaskenv
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/.gitignore
  src/backend/.gitignore
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/alembic.ini
  src/backend/alembic.ini
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/gunicorn.conf.py
  src/backend/gunicorn.conf.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/mypy.ini
  src/backend/mypy.ini
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/poetry.lock
  src/backend/poetry.lock
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/setup.py
  src/backend/setup.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/__init__.py
  src/backend/app/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/config.py
  src/backend/app/config.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/constants.py
  src/backend/app/constants.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/wsgi.py
  src/backend/app/wsgi.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/__init__.py
  src/backend/app/api/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/__init__.py
  src/backend/app/api/v1/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/routes.py
  src/backend/app/api/v1/routes.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/__init__.py
  src/backend/app/api/v1/endpoints/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/accounts.py
  src/backend/app/api/v1/endpoints/accounts.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/auth.py
  src/backend/app/api/v1/endpoints/auth.py
Owners: @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/budgets.py
  src/backend/app/api/v1/endpoints/budgets.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/goals.py
  src/backend/app/api/v1/endpoints/goals.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/investments.py
  src/backend/app/api/v1/endpoints/investments.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/transactions.py
  src/backend/app/api/v1/endpoints/transactions.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/api/v1/endpoints/users.py
  src/backend/app/api/v1/endpoints/users.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/__init__.py
  src/backend/app/core/__init__.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/auth.py
  src/backend/app/core/auth.py
Owners: @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/cache.py
  src/backend/app/core/cache.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/config.py
  src/backend/app/core/config.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/encryption.py
  src/backend/app/core/encryption.py
Owners: @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/core/errors.py
  src/backend/app/core/errors.py
Owners: @backend-team, @security-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all team groups (@repo-admins, @backend-team, etc.) are properly configured in GitHub organization settings
# 2. Verify that all team members have appropriate access levels in the repository
# 3. Review and adjust code ownership rules based on team structure and expertise
# 4. Set up branch protection rules to enforce code review requirements
# 5. Configure GitHub notifications for team mentions

# Requirement: Security Infrastructure
# Enforces secure development practices through mandatory code reviews by designated owners
# Default ownership - repository administrators have oversight of all files
* @repo-admins

# Requirement: Role-Based Access Control
# Implements role-based access control for code review and approval processes

# Backend services including API, authentication, and data services
/src/backend/** @backend-team @security-team

# Native iOS application using Swift/UIKit
/src/ios/** @ios-team

# React Native web and Android application
/src/web/** @web-team @react-native-team

# Infrastructure configuration including Kubernetes, AWS, and deployment scripts
/infrastructure/** @devops-team @security-team

# Requirement: Code Review Process
# Ensures all code changes are reviewed by appropriate team members based on their expertise

# Security-related code requires security team review
**/security.py @security-team
**/auth.py @security-team
**/encryption.py @security-team
**/keys.py @security-team
**/certificates/** @security-team

# CI/CD pipeline configuration
/.github/workflows/* @devops-team

# Database changes require both backend and database team review
**/migrations/** @backend-team @database-team
**/schemas/** @backend-team @database-team

# API documentation requires backend team and technical writer review
/docs/api/** @backend-team @technical-writers
**/swagger/** @backend-team @technical-writers
**/openapi/** @backend-team @technical-writers

# Test files require QA team review
**/tests/** @qa-team
**/__tests__/** @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team
