Repository blitzy-public-samples/mint-mobile-app-ncuwqw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @ios-team, @web-team, @react-native-team, @devops-team, @database-team, @technical-writers, @qa-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all team groups (@repo-admins, @backend-team, etc.) are properly configured in GitHub organization settings
# 2. Verify that all team members have appropriate access levels in the repository
# 3. Review and adjust code ownership rules based on team structure and expertise
# 4. Set up branch protection rules to enforce code review requirements
# 5. Configure GitHub notifications for team mentions

# Requirement: Security Infrastructure
# Enforces secure development practices through mandatory code reviews by designated owners
# Default ownership - repository administrators have oversight of all files
* @repo-admins

# Requirement: Role-Based Access Control
# Implements role-based access control for code review and approval processes

# Backend services including API, authentication, and data services
/src/backend/** @backend-team @security-team

# Native iOS application using Swift/UIKit
/src/ios/** @ios-team

# React Native web and Android application
/src/web/** @web-team @react-native-team

# Infrastructure configuration including Kubernetes, AWS, and deployment scripts
/infrastructure/** @devops-team @security-team

# Requirement: Code Review Process
# Ensures all code changes are reviewed by appropriate team members based on their expertise

# Security-related code requires security team review
**/security.py @security-team
**/auth.py @security-team
**/encryption.py @security-team
**/keys.py @security-team
**/certificates/** @security-team

# CI/CD pipeline configuration
/.github/workflows/* @devops-team

# Database changes require both backend and database team review
**/migrations/** @backend-team @database-team
**/schemas/** @backend-team @database-team

# API documentation requires backend team and technical writer review
/docs/api/** @backend-team @technical-writers
**/swagger/** @backend-team @technical-writers
**/openapi/** @backend-team @technical-writers

# Test files require QA team review
**/tests/** @qa-team
**/__tests__/** @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

Add public-samples/mint-mobile-app-ncuwqw/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-ncuwqw/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-ncuwqw/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-ncuwqw/.github/workflows/ios-ci.yml
  .github/workflows/ios-ci.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-ncuwqw/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team

Add public-samples/mint-mobile-app-ncuwqw/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/documentation/Software Requirements Specifications (SRS).json
  documentation/Software Requirements Specifications (SRS).json
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @repo-admins

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/architecture.md
  infrastructure/docs/architecture.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/deployment.md
  infrastructure/docs/deployment.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/disaster-recovery.md
  infrastructure/docs/disaster-recovery.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/monitoring.md
  infrastructure/docs/monitoring.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/security.md
  infrastructure/docs/security.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/runbooks/backup-restore.md
  infrastructure/docs/runbooks/backup-restore.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/runbooks/incident-response.md
  infrastructure/docs/runbooks/incident-response.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/runbooks/scaling.md
  infrastructure/docs/runbooks/scaling.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/docs/runbooks/troubleshooting.md
  infrastructure/docs/runbooks/troubleshooting.md
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/backend/Chart.yaml
  infrastructure/helm/backend/Chart.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/backend/values.yaml
  infrastructure/helm/backend/values.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/backend/templates/_helpers.tpl
  infrastructure/helm/backend/templates/_helpers.tpl
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/backend/templates/deployment.yaml
  infrastructure/helm/backend/templates/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/backend/templates/ingress.yaml
  infrastructure/helm/backend/templates/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/backend/templates/service.yaml
  infrastructure/helm/backend/templates/service.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/web/Chart.yaml
  infrastructure/helm/web/Chart.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/web/values.yaml
  infrastructure/helm/web/values.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/web/templates/_helpers.tpl
  infrastructure/helm/web/templates/_helpers.tpl
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/web/templates/deployment.yaml
  infrastructure/helm/web/templates/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/web/templates/ingress.yaml
  infrastructure/helm/web/templates/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/helm/web/templates/service.yaml
  infrastructure/helm/web/templates/service.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/kubernetes/apps/backend/deployment.yaml
  infrastructure/kubernetes/apps/backend/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/kubernetes/apps/backend/hpa.yaml
  infrastructure/kubernetes/apps/backend/hpa.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/kubernetes/apps/backend/pdb.yaml
  infrastructure/kubernetes/apps/backend/pdb.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/kubernetes/apps/backend/service.yaml
  infrastructure/kubernetes/apps/backend/service.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/kubernetes/apps/web/deployment.yaml
  infrastructure/kubernetes/apps/web/deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/infrastructure/kubernetes/apps/web/hpa.yaml
  infrastructure/kubernetes/apps/web/hpa.yaml
Owners: @devops-team, @security-team
