Repository blitzy-public-samples/mint-mobile-app-ncuwqw, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repo-admins, @backend-team, @security-team, @ios-team, @web-team, @react-native-team, @devops-team, @database-team, @technical-writers, @qa-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Ensure all team groups (@repo-admins, @backend-team, etc.) are properly configured in GitHub organization settings
# 2. Verify that all team members have appropriate access levels in the repository
# 3. Review and adjust code ownership rules based on team structure and expertise
# 4. Set up branch protection rules to enforce code review requirements
# 5. Configure GitHub notifications for team mentions

# Requirement: Security Infrastructure
# Enforces secure development practices through mandatory code reviews by designated owners
# Default ownership - repository administrators have oversight of all files
* @repo-admins

# Requirement: Role-Based Access Control
# Implements role-based access control for code review and approval processes

# Backend services including API, authentication, and data services
/src/backend/** @backend-team @security-team

# Native iOS application using Swift/UIKit
/src/ios/** @ios-team

# React Native web and Android application
/src/web/** @web-team @react-native-team

# Infrastructure configuration including Kubernetes, AWS, and deployment scripts
/infrastructure/** @devops-team @security-team

# Requirement: Code Review Process
# Ensures all code changes are reviewed by appropriate team members based on their expertise

# Security-related code requires security team review
**/security.py @security-team
**/auth.py @security-team
**/encryption.py @security-team
**/keys.py @security-team
**/certificates/** @security-team

# CI/CD pipeline configuration
/.github/workflows/* @devops-team

# Database changes require both backend and database team review
**/migrations/** @backend-team @database-team
**/schemas/** @backend-team @database-team

# API documentation requires backend team and technical writer review
/docs/api/** @backend-team @technical-writers
**/swagger/** @backend-team @technical-writers
**/openapi/** @backend-team @technical-writers

# Test files require QA team review
**/tests/** @qa-team
**/__tests__/** @qa-team
**/*.test.* @qa-team
**/*.spec.* @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/crypto.py
  src/backend/app/utils/crypto.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/datetime.py
  src/backend/app/utils/datetime.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/decorators.py
  src/backend/app/utils/decorators.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/email.py
  src/backend/app/utils/email.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/pagination.py
  src/backend/app/utils/pagination.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/security.py
  src/backend/app/utils/security.py
Owners: @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/app/utils/validators.py
  src/backend/app/utils/validators.py
Owners: @backend-team, @security-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/__init__.py
  src/backend/tests/__init__.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/conftest.py
  src/backend/tests/conftest.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/__init__.py
  src/backend/tests/test_api/__init__.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_accounts.py
  src/backend/tests/test_api/test_accounts.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_auth.py
  src/backend/tests/test_api/test_auth.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_budgets.py
  src/backend/tests/test_api/test_budgets.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_goals.py
  src/backend/tests/test_api/test_goals.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_investments.py
  src/backend/tests/test_api/test_investments.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_transactions.py
  src/backend/tests/test_api/test_transactions.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_api/test_users.py
  src/backend/tests/test_api/test_users.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_core/__init__.py
  src/backend/tests/test_core/__init__.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_core/test_auth.py
  src/backend/tests/test_core/test_auth.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_core/test_cache.py
  src/backend/tests/test_core/test_cache.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_core/test_encryption.py
  src/backend/tests/test_core/test_encryption.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_core/test_security.py
  src/backend/tests/test_core/test_security.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/__init__.py
  src/backend/tests/test_models/__init__.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/test_account.py
  src/backend/tests/test_models/test_account.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/test_budget.py
  src/backend/tests/test_models/test_budget.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/test_goal.py
  src/backend/tests/test_models/test_goal.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/test_investment.py
  src/backend/tests/test_models/test_investment.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/test_transaction.py
  src/backend/tests/test_models/test_transaction.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_models/test_user.py
  src/backend/tests/test_models/test_user.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/__init__.py
  src/backend/tests/test_services/__init__.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_account_service.py
  src/backend/tests/test_services/test_account_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_auth_service.py
  src/backend/tests/test_services/test_auth_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_budget_service.py
  src/backend/tests/test_services/test_budget_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_goal_service.py
  src/backend/tests/test_services/test_goal_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_investment_service.py
  src/backend/tests/test_services/test_investment_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_notification_service.py
  src/backend/tests/test_services/test_notification_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_plaid_service.py
  src/backend/tests/test_services/test_plaid_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_sync_service.py
  src/backend/tests/test_services/test_sync_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_services/test_transaction_service.py
  src/backend/tests/test_services/test_transaction_service.py
Owners: @qa-team

Add public-samples/mint-mobile-app-ncuwqw/src/backend/tests/test_utils/__init__.py
  src/backend/tests/test_utils/__init__.py
Owners: @qa-team
